 <section class="interview__details">
    <h2 class="interview__details__title">
         Interview details
    </h2>
    
    <div>
        <div>
            <h4 class="interview__details__label">Interview Id</h4>
            <span class="interview__details__info">{{vm.interview.interview_id}}</span>
        </div>

        <div>
            <h4 class="interview__details__label">Interview purpose</h4>
            <span class="interview__details__info">{{vm.interview.purpose}}</span>
        </div>

        <div>
            <h4 class="interview__details__label">City</h4>
            <span class="interview__details__info"
                  ng-if="vm.interview.city !== 'Elsewhere'">
                {{vm.interview.city}}
            </span>
            <span class="interview__details__info"
                  ng-if="vm.interview.other_city">
                {{vm.interview.other_city}}
            </span>
        </div>
        <div>
            <h4 class="interview__details__label">Address</h4>
            <span class="interview__details__info">{{vm.interview.address}}</span>
        </div>
        <div>
            <h4 class="interview__details__label">Interviewer</h4>
            <span class="interview__details__info">{{vm.interview.interviewer | ellipsis : 12}}</span>
        </div>
        <div>
            <h4 class="interview__details__label">Interviewee</h4>
            <span class="interview__details__info">{{vm.interview.interviewee | ellipsis : 12}}</span>
        </div>
        <div>
            <h4 class="interview__details__label">Interviewee's email</h4>
            <span class="interview__details__info">{{vm.interview.interviewee_email}}</span>
        </div>
        <div>
            <h4 class="interview__details__label">Phone number</h4>
            <span class="interview__details__info">{{vm.interview.interviewee_phone}}</span>
        </div>
        <div>
            <h4 class="interview__details__label">Date</h4>
            <span class="interview__details__info">{{vm.interview.interview_date | date}}</span>
        </div>

    </div>
    
</section>