%button-common{
    padding: 1rem !important;

    background-color:  map-deep-get($colors, "list", "light-black") !important;

    border: 1px solid map-deep-get($colors, "list", "orange") !important;
    outline: none;

    color: map-deep-get($colors, "list", "orange") !important;

    cursor: pointer;
}

.recordsure{
    &-btn{
        @extend  %button-common;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 0.9;
        }

        &:focus {
            opacity: 0.9;
        }

        &:disabled {
            cursor: no-drop;
            opacity: 0.4;
        }
    }
}
