.recordsure {
  &__form {
    &__fields {
      padding: 0 0.5rem;

      width: 100%;
      min-height: 3rem;
      display: block;
      background: map-deep-get($colors, 'list', 'grayish-white');
      border: none;
    }
    &__label {
      color: map-deep-get($colors, 'list', 'grayish-white');
      font-size: 1.4rem;
    }

    &__error {
      color: map-deep-get($colors, 'list', 'red');
      font-size: 1.4rem;
    }
  }
}
